.landing {
  background-color: var(--header-color);
  padding: 20px 140px;
  display: flex;
}

h1 {
  font-size: 3.5rem;
  font-family: "Figtree";
  font-weight: 800;
  color: white;
  padding-top: 50px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  align-items: center;
  padding: 20px 135px 20px;
}

.single_image img {
  width: 150px;
  height: 150px;
  border: 2px solid var(--button-pressed);
  border-radius: 16px;
  object-fit: cover;
  transition: all 250ms ease-in-out;
}

.single_image img:hover {
  transition: all 250ms ease-in-out;
  transform: scale(1.1);
  border: 2px solid var(--hover-color);
}

.main_frame {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 80px 135px 0;
}

.tab {
  background: none;
  border: none;
  cursor: pointer;
}

.main_footer {
  width: 100%;
  height: 140px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/icons/Subtract.png);
  background-color: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
}

.main_footer img {
  width: 225px;
  height: 65px;
}

dialog {
  flex-direction: column;
  border: none;
  background-color: var(--primary-color);
  width: 690px;
  height: 675px;
  border-radius: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

dialog.opened {
  border: none;
  transition: all 2s ease-in;
  width: 690px;
  height: 675px;
  border-radius: 40px;
}

dialog::backdrop {
  opacity: 0;
  background-color: black;
  transition: all 250ms ease-in;
}

dialog.opened::backdrop {
  opacity: 0.5;
  background-color: black;
  transition: all 250ms ease-in;
}

.dialog_style {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

/* .d_none {
  display: none;
} */

.image {
  width: 100%;
  height: 375px;
  animation: slide 0.5s linear;
  object-fit: cover;
}

.img_cont {
  display: flex;
  justify-content: center;
}

.dialog_head {
  display: flex;
  align-items: center;
  padding: 40px 64px 0;
  width: 100%;
  gap: 16px;
  justify-content: space-between;
  font-family: "Figtree";
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

.count {
  font-family: "Figtree";
  font-weight: 400;
  font-size: 1rem;
  color: white;
  text-align: center;
}

input[type="button"] {
  width: 24px;
  height: 24px;
  appearance: none;
  margin: 0;
  display: grid;
  background-image: url(./assets/icons/close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

input[type="button"]:hover {
  background-color: var(--button-released);
  scale: 1.1;
  border-radius: 50%;
  transition: all 250ms ease-in-out;
}

.icons {
  width: 260px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: rotateY(180deg);
  background-color: var(--arrow-dormant);
  border: none;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.left:hover {
  background-color: var(--arrow-active);
  transition: all 250ms ease-in-out;
}

.right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--arrow-dormant);
  border: none;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.right:hover {
  background-color: var(--arrow-active);
  transition: all 250ms ease-in-out;
}

@media screen and (min-width: 1440px) {
  .landing {
    padding: 20px max(140px, calc(50% - 720px));
  }

  main {
    padding: 0 max(135px, calc(50% - 720px)) 20px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  main {
    padding: 20px 135px 20px;
  }
}

@media screen and (min-width: 918px) and (max-width: 1199px) {
  .main_frame {
    padding: 60px 100px;
  }
}

@media screen and (min-width: 480px) and (max-width: 917px) {
  main {
    padding: 20px 50px 20px;
  }

  .main_frame {
    padding: 40px 80px;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2rem;
    text-align: center;
    padding: 40px 20px 0;
  }

  main {
    padding: 0;
  }

  .main_frame {
    padding: 40px 75px;
  }

  .landing {
    padding: 20px 100px;
    justify-content: center;
  }

  .landing img {
    width: 168px;
  }

  .dialog_head {
    font-size: 1rem;
    padding: 30px 25px 0;
  }
}
